body {
  background-color: lightblue;
}

#title-game {
  text-align: center;
  font-size: 70px;
}

#container-game {
  display: flex;
  justify-content: center;
}

#start-screen {
  display: block;
}

#start {
  margin-top: 150px;
}

#start-button {
  text-align: center;
}

#my-canvas {
  background-color: lightblue;
  display: none;
}

#game-over-screen {
  text-align: center;
  display: none;
}

#game-over-img {
  margin-top: 150px;
  width: 700px;
}

#game-complete-screen {
  text-align: center;
  display: none;
}

#game-complete-img {
  margin-top: 150px;
  width: 700px;
}

.buttons {
  margin-top: 100px;
  background: none;
  border-color: white;
  border-radius: 10px;
  padding: 20px;
}
